*{
  margin: 0;
}
.loginpage{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://ucarecdn.com/5015c61e-0b04-4b81-9661-3c0d7c3d82e8/');

}
.form-login{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.login-item input{
  height: 40px;
  width: 300px;
  border: 1px solid darkgoldenrod;
  padding: 4px;
}
.login-heading{
  position: absolute;
  font-size: 90px;
  top: 100px;
  left: 50px;
}
.iitj-login{
  position: relative;
  left: 20px;
  font-size: 70px;
}
.signup-login{
  position: absolute;
  left: 105px;
  height: 40px;
  width: 300px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid darkgoldenrod;
  top: 330px;
}

.signup-login:hover{
  background-color: #c4fccf;
  cursor: pointer;
}
.goole-login{
  position: relative;
  top: 4px;
  right: 4px;
  height: 20px;
}